.{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
wrapper{
    width: 970px;
    padding: 0px;
    background-color: white;
    color: black;
}
header{
}
header img{
    width: 100px;
}
header section{
    display: inline-block;
}
#internet{
    font-size: 50px
}
span{
    color: #88b4db;
}
#White{
    width: 100%;
    background-color: blue;
    font: white;
    font-size: 40px;
    display: blcok;
    padding: 10px 25px;
    margin: 20px auto;
}
aside{
    display: inline-block;
    width: 170px;
    vertical-align: top;
}
aside button{
    background-color: blue;
    color: white;
    border-radius: 5px
    width: 140px;
}
aside img{
    width: 170px
}
#red{
    color: red;
}
main-content{
    display: inline-block;
    width: 700px;
    vertical-align: right;
}
h2{
    color: navy;
}
article{
    vertical-align: right;
    display: inline-block;
}
article img{
    width: 30px;
}
#main-content{
    display: inline-block;
    width: 700px
    vertical-align: right;
}
#main-content img{
    width: 70px;
}
footer{
    vertical-align: right;
    display: inline-block;
    border-color: blue;
}
footer img{
    width: 100px;
}
